main.content .concours p.content-text{
    position: relative;
    width: 70%;
    padding: 5px;
    background: #e55039;
    font-size: 15px;
    margin: 20px auto;
}  
main.content .concours p.content-text:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 25%;
    height: 2%;
    transform: rotate(-5deg);
    background: rgba(0,0,0,.8);
    filter: blur(5px);
    z-index: -1;
} 
main.content .concours p.content-text:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -2px;
    width: 25%;
    height: 2%;
    transform: rotate(5deg);
    background: rgba(0,0,0,.8);
    filter: blur(5px);
    z-index: -1;
} 
.container-bg{
    width: 100%;
}
.container-bg img{
    display: block;
    width: 100%;
}