header ul.date{
    margin: 20px 0;
    background: linear-gradient(to bottom right, rgba(255,255,255,.5) 0%, transparent 50%, rgba(0,0,0,.1) 100%);
}
header.logo ul.date li{
    border: 1px solid #fff;
    border-bottom: none;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    color: #e74c3c;
    transition: .5s;
}
header.logo ul.date li:first-child{
    border-radius: 5px 5px 0 0;
}
header.logo ul.date li:last-child{
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid #fff;
}
header.logo ul.date li:hover{
    background: linear-gradient(to top left, rgba(255,255,255,.5) 0%, transparent 50%, rgba(0,0,0,.2) 100%);
}
main.content{
    position: relative;
}
main.content .container-livre{
    display: none;
    width: 90%;
    margin: 0 auto 15px;
    padding: 15px;
    background: linear-gradient(to bottom right, rgba(0,0,0,.08) 0%, transparent 50%, rgba(0,0,0,.2) 100%);
    cursor: pointer;
}
main.content .container-livre > h2.year{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 36px;
    color: #c0392b;
}
main.content .container-livre article{
    width: 80%;
    margin: 15px auto;
    background: rgba(255,255,255,.2);
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 15px 35px;
}
main.content .container-livre article:hover{
    background: rgba(255,255,255,.5);
    border-color: #c0392b;
}
main.content .container-livre article > h2.prix{
    margin: 0;
    color: #c0392b;
    font-size: 24px;
    text-decoration: underline;
    font-weight: lighter;
}
main.content .container-livre article > h3.titre{
    margin: 0;
    color: #2c3e50;
    font-size: 18px;
}
main.content .container-livre article > span.auteur{
    color: #95a5a6;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
}
main.content .container-livre article > p.resume{
    margin: 0;
    text-align: justify;
    color: #0fb9b1;
    font-size: 15px;
    margin-bottom: 10px;
}
main.content .container-livre article > a{
    position: relative;
    left: 75%;
    text-align: right;
    text-decoration: none;
    padding: 8px 10px;
    background: rgba(255,255,255,1);
    margin-left: auto;
    border-radius: 10px 25px;
}
main.content .container-livre article > a:hover{
    background: rgba(160,160,160,.2);
}
/* modal */
main.content div.modal{
    position: relative;
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.7);
    border: 3px solid #fff;
    padding: 45px;
}
main.content div.modal:target{
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
main.content div.modal a.link{
    position: absolute;
    top: 15px;
    right: 5px;
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: none;
}
main.content div.modal a.link > span{
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background: #fff;
    border-radius: 5px;
}
main.content div.modal a.link > span:first-child{
    right: 5px;
    transform: rotate(45deg);
}
main.content div.modal a.link > span:last-child{
    right: 5px;
    transform: rotate(-45deg);
}
main.content div.modal img{
    display: block;
    float: left;
    width: calc(((100% / 12) * 5) - 20px);
    margin-right: 20px;
    margin-top: 25px;
}
main.content div.modal h2,
main.content div.modal span{
    color: #f7f1e3;
    width: calc(((100% / 12) * 7));
    overflow: hidden;
}
main.content div.modal span{
    font-style: italic;
}
main.content div.modal p{
    color: #ffb142;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    overflow: hidden;
}
main.content div.modal a.buy{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    color: #f7f1e3;
    background: #0fb9b1;
    text-decoration: none;
    width: calc(((100% / 12) * 7));
    padding: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 15px;
}
@media screen and (min-width: 680px){
    header ul.date{
        width: 640px;
        margin:0 auto;
        background: none;
    }
    header.logo ul.date li{
        display: inline-block;
        vertical-align: middle;
        width: calc(((100% / 11) * 1) - 8px);
        margin: 0 4px;
        border-radius: 5px 5px 0 0;
    }
    header.logo ul.date li:last-child{
        border-radius: 5px 5px 0 0;
        border-bottom: none;
    }  
    main.content{
        vertical-align: top!important;
    }
    main.content div.modal{
        height: 90vh;
    }
    main.content .container-livre article{
        margin: 45px auto;
    }
}
@media screen and (min-width: 1520px){
    header ul.date{
        display: inline-block;
        vertical-align:middle;
        width: calc(((100% / 12) * 6) - 4px);
        margin-top: 70px;
    } 
    header .container-cnx{
        left: 0!important;
        transform: translateX(0)!important;
    }
    main.content .container-livre article{
        margin: 75px auto;
    }
}